@using AgricultureProject.EntityLayer.Concrete
@model List<Team>

<div class="team" id="team">
    <div class="container">
        <h3 class="tittle">Ekip Arkadaşlarımız</h3>
        <p class="heading-btm-w3ls">Birbirinden farklı konularda oldukça donanımlı ekip arkadaşlarımız.</p>
        <div class="wthree_team_grids">
            @foreach (var item in Model)
            {
                <div class="col-md-3 wthree_team_grid">
                    <div class="hovereffect">
                        <img src="@item.PersonImageUrl" alt="" class="img-responsive" style="height:300px; width:300px"/>
                        <div class="overlay">
                            <div class="rotate">
                            </div>
                        </div>
                    </div>
                    <h4>@item.PersonName</h4>
                    <p>@item.PersonTitle</p>
                </div>               
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>