@model AgricultureProject.EntityLayer.Concrete.Team
@{
    ViewData["Title"] = "AddTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">YENİ TAKIM ARKADAŞI KAYDI</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Adı Soyadı *</label>
                    <span asp-validation-for="PersonName" class="text-danger"></span>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Adı Soyadı" asp-for="PersonName" />
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Görevi *</label>
                    <span asp-validation-for="PersonTitle" class="text-danger"></span>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Görevi" asp-for="PersonTitle" />
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Görsel *</label>
                    <span asp-validation-for="PersonImageUrl" class="text-danger"></span>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Görsel" asp-for="PersonImageUrl" />
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Facebook</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Facebook Adresi" asp-for="FacebookUrl" />
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Instagram</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Instagram Adresi" asp-for="InstagramUrl" />
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Web Sitesi</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Web Sitesi" asp-for="WebsiteUrl" />
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Twitter</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Twitter Adresi" asp-for="TwitterUrl" />
                </div>
                <button type="submit" class="btn btn-outline-info">Kaydet</button>
            </form>
        </div>
    </div>
</div>